* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: #d4938b;
    color: white;
    text-align: center;
    padding: 2%;
    border: 1px solid #d4938b;
    font-family: cursive;
    font-size: 20px;
    
}

body {
    background-color: lightgoldenrodyellow;
}

.keep-score {
    border: 3px solid #d4938b;
    border-radius: 4px;
    text-align: center;
    padding: 15px 20px;
    width: 250px;
    margin: 20px auto;
    color: #d4938b;
    font-size: 46px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
}

.badge {
    background: #957dad;
    color: white;
    font-size: 14px;
    padding: 2px 10px;
}

#user-label {
    position: absolute;
    top: 30px;
    left: -25px;
}

#comp-label {
    position: absolute;
    top: 30px;
    right: -35px;
}

.result {
    font-size: 40px;
    color: #957dad;
    text-align: center;
    font-family: cursive;
    font-weight: bold;
}

.result > p {
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
}

#action-message {
    text-align: center;
    font-family: sans-serif;
    color: #957dad;
    font-size: 20px;
    margin-top: 20px;
}

.choices {
    text-align: center;
    margin-top: 50px 0;
    
}
.choice {
    display: inline-block;
    border: 3px solid #957dad;
    border-radius:50%;
    padding: 20px;
    margin: 0 20px;
    transition: all 0.3s ease;

}
 img {
     height: 90px;
     width: 90px;
     border-radius: 50%;
     padding: 10px;
 }

 .choice:hover {
     cursor: pointer;
     background: #d4938b;
 }

